.app {
    background: gray;
}

.status{
  width: 10px;
  height: 10px;
  background: red;
  display: block;
  float: left;
  border-radius: 50%;
  &.checked-in{
    background: greenyellow;
  }
  &.checked-out{
    background: gray;
  }
}
